[submodule "APIGatewayFrontend"]
	path = APIGatewayFrontend
	url = https://github.com/FedericoIafolla/APIGatewayFrontend.git
[submodule "servizio-lettura-dati"]
	path = servizio-lettura-dati
	url = https://github.com/oBeta97/servizio-lettura-dati.git
[submodule "APIGatewayBackend"]
	path = APIGatewayBackend
	url = https://github.com/FedericoIafolla/APIGatewayBackend.git
